<%- include('./header.ejs') %> 
<p>ID: <%= user.id %></p>
<p>login: <%= user.login %></p>
<p>Name: <%= user.displayName %></p>
<p>Emails: <%= user.email %></p>
<img src=<%= user.picture %> width="300px">
<!-- <form id="register" method="post" action="/user/register">    
    <label><b>displayName   
    </b>    
    </label>    
    <input type="text" name="displayName" id="displayName" placeholder="displayName">    
    <br><br>    
    <label><b>choose file
    </b>
    <br>
    </label>
    <input type="file" id="picture" name="picture">    
    <br>
    <br>
    <input type="submit" name="button" id="submit" value="Register">
</form>
  -->
<%- include('./footer.ejs') %>
