<%- include('./header.ejs') %> 
<p>ID: <%= user.id %></p>
<p>login: <%= user.username %></p>
<p>Name: <%= user.displayName %></p>
<p>Emails: <%= user.emails[0].value %></p>
<p>Phone: <%= user.phoneNumbers[0].value %><p>
<img src=<%= user.photos[0].value %> width="300px">
<form id="register" method="post" action="/user/register">    
    <label><b>displayName   
    </b>    
    </label>    
    <input type="text" name="displayName" id="displayName" placeholder="displayName">    
    <br><br>    
    <label><b>Pic     
    </b>    
    </label>    
    <input type="image" name="pic" id="pic" placeholder="image">    
    <br><br>    
    <input type="submit" name="button" id="submit" value="Register">
</form> 
<%- include('./footer.ejs') %>
